<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Devblocks Core</name>
	<author>WebGroup Media, LLC.</author>
	
	<extensions>
	
		<extension point="com.devblocks.module">
			<id>core.module.projects</id>
			<name>Projects Module</name>
			<class>
				<file>classes.php</file>
				<name>DbProjectsModule</name>
			</class>
			<params>
				<param key="menu_title" value="Dashboard" />
			</params>
		</extension>

		<extension point="com.devblocks.module">
			<id>core.module.bounties</id>
			<name>Bounties Module</name>
			<class>
				<file>classes.php</file>
				<name>DbBountiesModule</name>
			</class>
			<params>
				<param key="menu_title" value="Bounties" />
			</params>
		</extension>
		
		<extension point="com.devblocks.module">
			<id>core.module.roadmap</id>
			<name>Roadmap Module</name>
			<class>
				<file>classes.php</file>
				<name>DbRoadmapModule</name>
			</class>
			<params>
				<param key="menu_title" value="Roadmap" />
			</params>
		</extension>
		
		<extension point="com.devblocks.module">
			<id>core.module.config</id>
			<name>Configuration Module</name>
			<class>
				<file>classes.php</file>
				<name>DbConfigurationModule</name>
			</class>
			<params>
				<param key="menu_title" value="Configuration" />
			</params>
		</extension>
		
	</extensions>
	
</plugin>
