  a { 
  	 color: rgb(102, 102, 102);
    font-family: Arial,Helvetica,sans-serif;
    }

  body, td { color: rgb(85, 85, 85);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    }

  h1 { 
  	 font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    }

  h2 {
  	 font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
	}  
    
  .line { margin: 0px;
    padding: 0px;
    display: block;
    background-color: rgb(220, 220, 220);
    height: 1px;
    }

  form { margin: 0px;
    }
    
#dbMenu {
	background-image: url("../../images/bg_dkgray.jpg");
}

#dbMenu TD {
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid rgb(255,255,255);
}

#dbMenu TD A {
	color:rgb(255,255,255);
}

#dbMenu .active {
	background-image: url("../../images/bg_orange.jpg");
}

.task { 
  font-weight: bold;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: rgb(0, 190, 80);
}

.blocks {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: rgb(20,20,20);
  margin: 0px;
  padding: 2px;
  background-color: rgb(235, 255, 187);
  border-bottom: 2px solid rgb(143, 187, 37);
  border-right: 2px solid rgb(143, 187, 37);
  border-left: 1px solid rgb(143, 187, 37);
  border-top: 1px solid rgb(143, 187, 37);
}

.progress {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: rgb(20,20,20);
  margin: 0px;
  padding: 2px;
  background-color: rgb(234, 0, 11);
  border: 1px solid rgb(120,120,120);
}

/*
.blocks {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 2px;
  background-color: rgb(255, 129, 0);
  border-bottom: 2px solid rgb(228, 123, 0);
  border-right: 2px solid rgb(228, 123, 0);
  border-left: 1px solid rgb(228, 123, 0);
  border-top: 1px solid rgb(228, 123, 0);
}
*/
